.interface {
  flex: 0.4 1 auto;
  max-width: 440px;
  height: 600px;
  text-align: left;
  justify-content: space-between;
}

#interfaceHead {
  padding: 16px;
}

#styleName {
  padding-left: 16px;
}

#productStyles {
  margin: 16px;
  margin-top: 4px;
  margin-bottom: 0px;
  padding: 4px;
  height: 160px;

  flex-wrap: wrap;
  align-content: flex-start;

  border: 1px solid rgb(207, 207, 207);
  border-style: none none none solid;
}

.productStyle {
  margin: 7px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: rgb(207, 207, 207);
  box-shadow: 0 2px 2px 1px rgb(192, 177, 177);

  overflow: hidden;
  position: relative;
}

.productStyle:active {
  border: 1px solid rgb(184, 184, 184);
  box-shadow: none;
}

.styleThumb {
  position: absolute;
  object-fit: cover;
  width: 60px;
  height: 60px;
}

#selectSize {
  width: 60%;
}

#selectQuantity {
  width: 30%;
}

#addToCart {
  flex: 1 1 auto;

  padding: 16px;
  text-align: left;
}

#addToFav {
  position: relative;
}

.bigButton {
  color: white;
  background-color: rgb(96, 97, 156);

  font-weight: bold;
  box-shadow: 0 2px 2px 1px rgb(211, 204, 204);
}

.bigButton:active {
  box-shadow: none;
}


.star {
  position: absolute;
  bottom: 2px;
  left: 11px;
  font-size: 48px;
}