.overview {
  display: flex;
  flex-direction: column;

  min-width: 400px;
  width: 1280px;
  min-height: 800px;
  text-align: center;

  border-width: 1px;
  border-color: rgb(177, 177, 177);
  border-style: none none solid none;

  padding-bottom: 16px;
  margin-bottom: 32px;
}

.navbar {
  background-color: rgb(73, 78, 124);
}

/* input {
  align-self: flex-end;
  height: 24px;
  margin: 16px;
} */

.announce {
  height: 32px;

  color: white;
  background-color: rgb(134, 135, 185);
}

.info {
  margin: 16px;
  height: 600px;
  height: 100%;
}

.gallery {
  width: 600px;
  flex: 1 1 auto;
  margin-right: 16px;
  padding: 0px;
  justify-content: center;
}

.slogan {
  margin: 8px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: left;
}

img {
  object-fit: cover;
  width: 600px;
  max-height: 600px;
}