.upload-btn{
  padding: 10px;
  border: 2px solid plum ;
  background-color: transparent;
}

.answer-modal-bg{
  width: 100vw;
  height: 100vh;
  background-color: rgba(200,200,200);
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.answer-modal-ctn{
  width: 800px;
  height: 800px;
  background-color: white;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.answer-title{
  color: black;
}
.answer-modal-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.close-btn-ctn{
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}