.error-msg{
  color: red;
  display: none;
  font-size: 0.75rem;
  font-weight: 800;
}

.extra-msg{
  font-size: 0.75rem;
}

.form-app{
  border: 2px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 80%;
  width: 25%;
}
.quest{
  border: 2px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 68%;
  width: 25%;
}

.modal-title{
  font-size: 1.75em;
  font-weight: 900;
}

.product-details{
  font-size: 1.25em;
  font-weight: 600;
}

.modal-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 2em;
}


.form-input{
  display: flex;
  flex-direction: column;
  gap:12px;
  margin-bottom: 25px
}


/******* LABEL styling *******/
.labels{
  font-size: 0.85rem;
  font-weight: 600;
}


/******* INPUT styling *******/

.inputs{
  padding: 0.75em;
  width: 50%;
  border-radius: 5px;
}

.inputs:invalid[focused="true"] ~ .error-msg{
  display: block;
}
.inputs:invalid[focused="true"] {
  border: 2px solid red
}

/** TEXT AREA styling **/
.textarea{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.text-ctn{
  padding: 10px;
}

/***** SUBMIT BUTTON styling *****/
.submit-btn{
  align-self: center;
  padding: 0.75em;
  width: 25%;
  cursor: pointer;
  font-weight: 700;
}

/* .submit-btn:hover{
  border: 2px solid #2DE2E6;
  background-color: #6a50bc;
  color: #2DE2E6;

} */

/* **** CLOSING MODAL button *****/


.closeModal-btn{
  font-size: 1rem;
  color: #FD3777;
  font-weight: 700;
  font-size: 0.75rem;
  background-color: transparent;
  border: 2px solid #FD3777;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 60%;
  width: 25px;
  height: 25px;
}

.closeModal-btn:hover{
  color: #2DE2E6
}

.upload-btn{
  margin-bottom: 20px;
}