.QA-ctn{
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border: 1px solid;
  border-style: none none solid none;
  border-color: rgb(255 164 201);
}

.section-title{
  font-size: 2.1rem;
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:25px
}