.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #ffffff;
  overflow: hidden;
  width: 78px;
}

.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #000000;
}

.empty-stars:before, .full-stars:before {
  content:"\2605\2605\2605\2605\2605";
  font-size: 14pt;
}

.empty-stars:before {
  -webkit-text-stroke: 1px #c0c0c0;
}
.full-stars:before {
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

@-moz-document url-prefix() {
  .full-stars {
      color: #ECBE24;
  }
}