/* style.css can be used for app-wide styles

  v = vertical flex;
  h = horizontal flex;
  card = card styling;

  <div className='interface card v' /> is a card with vertical flex

*/
.v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

h1 {
  font-size: 24px;
  margin: 16px;
  color: white;
}

h2 {
  font-size: 48px;
}

h2, h3 {
  margin: 0px;
}

select, button {
  border-width: 1px;
  border-style: solid;

  margin: 16px;
  height: 64px;
  min-width: 64px;

  font-size: 16px;
}

button {
  color: white;
  background-color: rgb(96, 97, 156);

  font-weight: bold;
  box-shadow: 0 2px 2px 1px rgb(211, 204, 204);
}

button:active {
  box-shadow: none;
}

.card {
  border: 1px solid rgb(96, 97, 156);

  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 2px 1px rgb(192, 177, 177);

  padding: 16px;
}

.hover:hover {
  box-shadow: 0 4px 6px 2px rgb(192, 177, 177);
}