/* style.css can be used for app-wide styles

  v = vertical flex;
  h = horizontal flex;
  card = card styling;

  <div className='interface card v' /> is a card with vertical flex

*/
.v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

h1 {
  font-size: 24px;
  margin: 16px;
  color: white;
}

h2 {
  font-size: 48px;
}

h2, h3 {
  margin: 0px;
}

.bigSelect, .bigButton {
  border-width: 1px;
  border-style: solid;

  margin: 16px;
  height: 64px;
  min-width: 64px;

  font-size: 16px;
  padding-left: 8px;
}

.bigSelect {
  margin-bottom: 4px;
}

.card {
  border: 1px solid;

  background-color:         rgb(255, 255, 255);
  box-shadow: 0 2px 2px 1px rgb(192, 177, 177);

  padding: 16px;
  min-height: 150px;
}

.hover:hover {
  box-shadow: 0 3px 6px 2px rgb(192, 177, 177);
}

.noPad {
  padding: 0px;
}

/* theme colors */
.t0a {
  border-color:     rgb(112, 46, 73);
  color:            rgb(112, 46, 73);
  background-color: rgb(255, 245, 217);
}

.t1a {
  border-color:     rgb(112, 46, 73);
  color:            rgb(112, 46, 73);
  background-color: rgb(245, 232, 199);
}

.t2a {
  border-color:     rgb(112, 46, 73);
  color:            rgb(112, 46, 73);
  background-color: rgb(236, 204, 178);
}

.t3a {
  border-color:     rgb(112, 46, 73);
  background-color: rgb(222, 182, 171);
}

.t4a {
  border-color:     rgb(112, 46, 73);
  background-color: rgb(160, 95, 121);
}

.t5a {
  border-color:     rgb(112, 46, 73);
  background-color: rgb(112, 46, 73);
}

.t0b {
  border-color:     rgb(218, 170, 190);
  color:            rgb(211, 172, 188);
  background-color: rgb(136, 64, 88);
}

.t1b {
  border-color:     rgb(112, 46, 73);
  color:            rgb(112, 46, 73);
  background-color: rgb(245, 232, 199);
}

.t2b {
  border-color:     rgb(112, 46, 73);
  color:            rgb(112, 46, 73);
  background-color: rgb(236, 204, 178);
}

.t3b {
  border-color:     rgb(112, 46, 73);
  background-color: rgb(222, 182, 171);
}

.t4b {
  border-color:     rgb(112, 46, 73);
  background-color: rgb(160, 95, 121);
}

.t5b {
  border-color:     rgb(112, 46, 73);
  background-color: rgb(112, 46, 73);
}