.review-form-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  border: 2px solid #fd3777;
  border-radius: 15px;
  padding: 2em 2.5em 2em 2.5em;
  background-color: #2e2157;
  color: white;

}

.modal-holder {
  background-color: #2e2157;
}

.review-form-modal-content {
  width: 100%;
  background-color: #2e2157;
  flex-direction: column;
  overflow-y: auto;
}

.review-form-modal-header .review-form-modal-footer {
  padding: 10px;
}

.review-form-modal-footer {
  display: flex;
  justify-content: center;
}

.review-form-modal-title {
  margin: 0;
}

.review-form-modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.review-rating {
  --dir: right;
  --fill: #fd3777;
  --fillbg: rgba(100, 100, 100, 1);
  background-color: #2e2157;
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --stars: 5;
  --starsize: 3rem;
  --symbol: var(--star);
  --value: 0;
  --w: calc(var(--stars) * var(--starsize));
  --x: calc(100% * (var(--value) / var(--stars)));
  block-size: var(--starsize);
  inline-size: var(--w);
  position: relative;
  touch-action: manipulation;
  -webkit-appearance: none;
}
[dir="rtl"] .review-rating {
  --dir: left;
}
.review-rating::-moz-range-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
}
.review-rating::-webkit-slider-runnable-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
  -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.review-rating::-moz-range-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
}
.review-rating::-webkit-slider-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
  -webkit-appearance: none;
}
.review-rating, .review-rating-label {
  display: block;
  font-family: ui-sans-serif, system-ui, sans-serif;
}
.review-rating-label {
  margin-block-end: 1rem;
}

/* NO JS */
.review-rating--nojs::-moz-range-track {
  background: var(--fillbg);
}
.review-rating--nojs::-moz-range-progress {
  background: var(--fill);
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--star);
}
.rating--nojs::-webkit-slider-runnable-track {
  background: var(--fillbg);
}
.rating--nojs::-webkit-slider-thumb {
  background-color: var(--fill);
  box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
  opacity: 1;
  width: 1px;
}
[dir="rtl"] .rating--nojs::-webkit-slider-thumb {
  box-shadow: var(--w) 0 0 var(--w) var(--fill);
}

.rating-meaning {
  display: inline-block;
}

.review-image {
  max-height: 150px;
  max-width: 150px;
  display: inline-block;
}

.review-radio {
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.add-review-form {
  width: 85%;
}

.break {
  flex-basis: 100%;
  height: 10px;
}

.char-holder {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-end;
  border: 2px solid #fd3777;
  margin: 10px;
}

.write-review {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.close-review-modal {
  justify-self: right;
  align-self: right;
  display: inline-block;
}